/* Scalavlet Default Styles */

/* */
.sv-page-top-margin {
  margin-top: 60px;
}

/* Override Bootstrap */

.lead {
  font-size: 18px;	
}

pre {
  padding: 3px;
  font-size: 14px;
  color: #7b8a8b;
  background-color: #ecf0f1;
  border: 1px solid #5C7F87; /* For Solarized Dark */
  border-radius: 3px;	
}

pre code {
  border-radius: 3px;	
}

/*
 * Left side menu in get-started.html
 * --------------------------------------------------
 */
#sidebar {
	margin-top: 10px;  /*temp*/
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
